@import 'scss/variables';
@import 'scss/palette';

.social-networks {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    &-item {
      margin-right: $base-size;
    }
  }

  &__blog-link {
    color: $color-dark-purple;
    text-decoration: underline;
  }
}

.app--dark .social-networks__blog-link {
  color: $color-light-fuchsia;
}
