@import 'scss/variables';

.social-networks {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    &-item {
      margin-right: $base-size;
    }
  }
}
