@import 'scss/variables';
@import 'scss/reset';
@import 'scss/palette';
@import 'scss/typography';
@import 'scss/utility';

body {
  background-color: $color-light-yellow;
  color: $color-dark-blue;
  font-family: $font-family-primary;
}

mark {
  background-color: transparent;
  color: $color-dark-black;
  font-family: $font-family-secondary;
  font-size: calc(10px + 1.2vmin);
  text-transform: uppercase;
}

.app {
  font-family: $font-family-primary;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1.7vmin);
  padding-top: $base-size * 3;
  padding-left: $base-size * 3;
  padding-right: $base-size * 3;
  text-align: center;

  &--dark {
    color: $color-light-white;
  }
}
