@import 'scss/variables';
@import 'scss/reset';
@import 'scss/palette';
@import 'scss/typography';
@import 'scss/utility';

body {
  background-color: $color-light-yellow;
  color: $color-dark-blue;
  font-family: 'Source Code Pro', monospace;
}

mark {
  background-color: transparent;
  color: $color-dark-black;
  font-family: 'Pixeled';
  font-size: calc(10px + 1.2vmin);
  text-transform: uppercase;
}

a {
  color: $color-dark-purple;
  transition: all ease-in 0.1s;

  &:hover {
    background-color: $color-dark-purple;
    color: $color-light-white;
  }
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1.7vmin);
  justify-content: flex-start;
  padding-top: $base-size * 3;
  padding-left: $base-size * 3;
  padding-right: $base-size * 3;
  text-align: center;

  &__logo {
    display: block;
    margin-bottom: $base-size * 1.5;

    &-img {
      width: 320px;
    }
  }

  &__description {
    margin-bottom: $base-size * 1.5;
    max-width: 600px;
  }
}
