$color-dark-purple: #2b0477;
$color-dark-blue: #2b0477;
$color-light-green-one: #7ed0a8;
$color-light-green-two: #a2db8a;
$color-light-yellow: #ffffbc;
$color-light-orange: #f9c9bb;
$color-light-pink-light: #ee9cdd;
$color-pink-medium: #f584c8;
$color-light-fuchsia: #d207c7;
$color-light-white: #ffffff;
$color-dark-black: #000000;
